@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 50px;
}

.postContainer {
  width: 420px;
  border: 1px solid black;
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
}

button {
  padding: 20px;
  margin: 20px;
}
